.contenedor-formulario {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3f51b5; /* Color azul de Angular Material */
}

.formulario {
  display: flex;
  flex-direction: column;
}

.campo-completo {
  width: 100%;
  margin-bottom: 15px;
}

.checkbox-container {
  margin-bottom: 25px;
  margin-top: 10px;
}

.botones {
  display: flex;
  justify-content: space-between;
}